# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
venv/
env/
Pipfile.lock
poetry.lock
.qtcreator/
# === PySide6 / Qt ===
*.qrc
*.qmlc
*.jsc
*.moc
*.obj
*.o
*.so
*.so.*
*.a
*.lib
*.dll
*.exe
*.app
*.dSYM/
*.rcc
*.res
*.rc
*pyproject.user

moc_*.cpp
ui_*.h
qrc_*.cpp

# Build directories
/build*/
build-*/

# === Qt Creator ===
*.pro.user*
*.qbs.user*
*.autosave
.qmake.*
*.pro.user
*.qbs.user
*.qmlproject.user
CMakeLists.txt.user*

# === CMake ===
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
*.cmake

# === Editor & OS ===
.DS_Store
.directory
*.swp
*.swo
*~
.#*
*.*#
Thumbs.db
tags

# === VSCode ===
.vscode/
.history/
.code-workspace

# === Logs & Debug ===
*.log
*.debug
*.bak

# === Git ===
*.orig
*.rej

# === IDE-specific ===
.idea/
*.sublime*

# === Misc ===
*.zip
*.tar.gz
*.tgz
*.tmp
*.cache
